.decorative-editplan {
  width: 100%;
  height: 250px;
  background-image: linear-gradient(-180deg, $color-background-linear-1 -8.99%, $color-background-linear-2 109.7%),
  url('../../assets/img/kickstart-editplan.jpg');
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}

.editplan-title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  color: $color-text-on-dark;
  font-size: 30px;
}