.footer {
    background-color: $color-background-dark;
    min-height: 30px;
    padding: 15px;
    color: $color-text-on-dark;
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .link {
        text-decoration: none;
        color: $color-text-on-dark;
        &:hover {
          color: $color-active-on-light;
        }
    }
}

.info {
    @include flex;
    width: 500px;
}

.rss-logo img {
    width: 100px;
    height: 35px;
    &:hover {
        transform: scale(1.1);
        opacity: 0.5;
    }
}

@media (max-width: 768px) {
    .info {
        width: 375px;
        .copyright {
            width: 10%;
        }
        .year {
            width: 10%;
        }
    }

    .github-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
    }
}

@media (max-width: 560px) {
    .footer {
        font-size: 15px;
    }

    .info {
        width: 230px;
    }
    
    .info .year {
        width: 10%;
    }

    .rss-logo img {
        width: 60px;
    }
}
