.decorative {
    width: 100%;
    height: 154px;
    position: absolute;
    top: 0;
    background: linear-gradient(119.63deg, $color-background-linear-1 14.73%, $color-background-linear-2 96.41%);
}

.main-content {
    display: flex;
    justify-content: center;
    padding: 0 138px 48px;
}

.left-block {
    margin-right: 28px;
    width: calc(100% - 262px);
    min-width: calc(100% - 262px);
}

.content-block {
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 0 5px;
    position: relative;
    background-color: $color-background;
    border-radius: 12px;
}

.title-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;
    align-items: center;
    border-bottom: 1px solid $color-border;
    padding: 10px 24px;
    p {
        margin: 0;
    }
    .subtitle {
        font-size: 12px;
        color: $color-text-navbar;
    }
    span {
        font-size: 12px;
        text-transform: uppercase;
        color: $color-text-navbar;
        cursor: pointer;
    }
}

.subtitle.list {
    margin-bottom: 0;
}

.gradient-text {
    background: linear-gradient(270deg, $color-background-linear-3, $color-background-linear-4 70%);
    -webkit-background-clip: text;
    background-clip: text;
    color: $color-primary;
    -webkit-text-fill-color: transparent;
}

.workout-list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0 8px 20px;
    min-height: 320px;
    overflow-x: auto;
    overflow-y: auto;
    transition: all 0.3s ease;
    white-space: nowrap;
    text-align: center;
}

.image-container {
    width: 350px;
}

.program-card {
    width: 350px;
    height: 300px;
    margin-right: 25px;
    border: 0.5px solid $color-border-light;
    border-radius: 12px;
    text-align: left;
    position: relative;
    cursor: pointer;
    &:nth-last-child(-n + 1) {
        margin-right: 0;
    }
    .title {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        overflow-x: auto;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &.add {
            margin-top: 10px;
            font-size: 24px;
        }
    }
    .image {
        width: 317px;
        height: 167px;
        overflow: hidden;
        margin: 0 auto;
        background-image: url('../../assets/img/workout1.jpg');
        background-size: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        border-radius: 10px;
        transition: background-size 0.3s ease-in-out;
        &.lighthen {
            opacity: 0.3;
        }
    }
    .card-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 6px 15px;
        height: 78px;
        &.description {
            flex-wrap: nowrap;
        }
        &.add {
            justify-content: center;
            height: 120px;
        }
        .btn-large {
            height: 36px;
            line-height: 36px;
            border-radius: 20px;
        }
        .circle {
            display: inline-block;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            &.avatar {
                background-image: url('../../assets/img/avatar.jpg');
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
            }
            &.circle-text {
                vertical-align: top;
                background-color: $color-subscribers;
                font-size: 10px;
                line-height: 20px;
                color: $color-text-on-dark;
                margin-top: 1px;
            }
        }
        .left-offset {
            margin-left: -13px;
        }
        .list {
            width: 100%;
            font-size: 14px;
            padding-left: 20px;
        }
    }
    .add-block {
        width: 160px;
        height: 160px;
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 35px;
        transform: translateX(-50%);
        .red-plus {
            width: 40px;
            height: 40px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            pointer-events: none;
        }
    }
    &:hover {
        box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
        .image {
            background-size: 115%;
        }
    }
}

.title-container {
    padding: 6px;
}

.parameters {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: -0.016em;
    color: $color-text-navbar;
    opacity: 0.8;
}

.separator {
    margin: 0 8px;
    color: $color-text-navbar;
}

.right-space {
    margin-right: 5px;
}

.middle-dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $color-text-navbar;
    opacity: 0.5;
    &.active {
        opacity: 1;
    }
}

@media (max-width: 992px) {
    .card-title {
        font-size: 16px;
        width: 100%;
        margin-bottom: 0;
    }

    .main-content {
        padding: 0 0px 48px;
    }
}

@media (max-width: 560px) {
    .left-block {
        min-width: 310px;
        width: 315px;
        margin-right: 0;
    }

    .program-card {
        width: 295px;
        height: 270px;
        .card-info.description {
            justify-content: space-between;
        }
    }

    .image-container {
        width: 295px;
    }

    .card-title {
        display: block;
    }

    .program-card .image {
        width: 240px;
        height: 133px;
    }

    .program-card .card-info {
        justify-content: center;
    }
}
