.meal-section {
    margin-bottom: 40px;
}
.main-meal {
    background-color: rgb(250, 246, 246);
}
.title-meal {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $color-title;
    padding: 16px 24px;
}
.meal-card-container {
    border-radius: 12px;
    margin-top: 32px;
    width: calc(100% - 160px);
    margin-left: auto;
    margin-right: auto;
    background: $color-background;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);

    .title-meal {
        padding: 35px 24px 15px;
    }
    input.search-meals {
        max-width: 320px;
        width: 100%;

        border: 2px solid $color-meal;
        border-radius: 12px !important;
        color: $color-title;
        padding-left: 40px;
        margin: 0;
    }
}
.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    flex-wrap: wrap;
    position: relative;
    max-width: 540px;
    width: 100%;
    padding: 20px;
    gap: 20px;
}
.input-wrapper::before {
    content: '';
    display: block;
    background-image: url('../../assets/img/search.png');
    position: absolute;
    left: 28px;
    top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;

    filter: invert(82%) sepia(29%) saturate(6312%) hue-rotate(316deg) brightness(100%) contrast(104%);
}

.searching-container {
    margin-bottom: 90px;
}
.meal-explore-container {
    background-color: $color-background;
    height: auto;
    margin-top: 32px;
}
.meal-explore {
    width: calc(100% - 160px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 16px 0 80px;
}
.day-meals {
    position: relative;
    display: flex;
    justify-content: space-between;

    text-align-last: justify;
    gap: 50px;
    padding: 30px 60px;
    overflow-x: auto;
    min-height: 365px;
}
.meal-card {
    width: 322px;
    height: 300px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    &:hover .card-image img {
        transform: scale(1.1);
    }

    .card {
        border-radius: 12px;
        width: 322px;
        margin: 0;
        box-shadow: 0 4px 20px rgb(0 66 129 / 12%);
        .card-image {
            position: relative;
            width: 100%;
            height: 207px;
            overflow: hidden;
            border-radius: 12px 12px 0 0;
            transition: 0.5s ease-in-out;
            img {
                transition: 0.5s ease-in-out;
            }
        }
        .card-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px 15px;
            font-family: 'Poppins';
            height: 93px;
            overflow: hidden;
        }
    }
}
.title-meal-card {
    color: $color-meal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;

    text-transform: uppercase;
}
.subtitle-day-meal {
    text-align: left;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
    color: $color-subtitle;

    white-space: normal;
}

.explore-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 220px;
    overflow: hidden;
}
.explore-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
    flex-wrap: wrap;
}
.explore-img-container {
    width: 300px;

    height: 230px;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    img {
        transition: 0.5s ease-in-out;
    }
    &:hover img {
        transform: scale(1.1);
    }
}
.explore-img {
    width: 300px;
    object-fit: scale-down;
    object-position: center;
}
.subtitle-meal {
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: $color-subtitle-meal;
    margin-top: 16px;
    margin-bottom: 0;
}

.searching-meals {
    position: relative;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px 20px 80px;
    min-height: 750px;
}
.search-btn {
    background: linear-gradient(270deg, #e03694 -24.77%, #f47253 95.41%);
    border-radius: 20px;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: none;
    color: #fff;
    padding: 9px 20px;
    box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.24);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    &:hover {
        box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.49);
        opacity: 0.8;
    }
}
@media (max-width: 830px) {
    .explore-container {
        gap: 35px;
    }
}
@media (max-width: 795px) {
    .explore-container {
        gap: 25px;
    }
}
@media (max-width: 570px) {
    .meal-card-container {
        width: calc(100% - 55px);
    }
}
@media (max-width: 415px) {
    .meal-card-container {
        width: calc(100% - 25px);
    }
}
@media (max-width: 460px) {
    .meal-explore {
        width: calc(100% - 65px);
    }
}
@media (max-width: 375px) {
    .meal-card {
        width: 300px;
        .card {
            width: 300px;
        }
    }
    .meal-explore {
        width: calc(100% - 50px);
    }
}
@media (max-width: 350px) {
    .meal-card {
        width: 280px;
        .card {
            width: 280px;
        }
    }
    .meal-explore {
        width: calc(100% - 10px);
    }
}
@media (max-width: 325px) {
    .meal-card {
        width: 265px;
        .card {
            width: 265px;
        }
    }
}
