.registration-header {
    @include flex;
    justify-content: center;
    height: 150px;
    background-color: $color-background-dark-blue;
    color: $color-text-on-dark;
}

.registration-title {
    margin: 0;
    font-size: 40px;
}

.registration-content {
    padding-top: 25px;
    height: calc(100% - 230px);
    & > div {
        @include flex;
        justify-content: center;
        text-align: center;
        width: 362px;
        margin: auto;
    }
    & > form {
        @include flex;
        justify-content: center;
        text-align: center;
        width: 362px;
        margin: auto;
        .goal {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            margin-bottom: 10px;
            height: 50px;
            border: 1px solid $color-border;
            border-radius: 20px;
            cursor: pointer;
            &.column {
                flex-basis: 47%;
            }
            &.option {
                flex-basis: 100%;
                &:hover {
                    transform: scale(1.05);
                    transition: all 0.3s ease-in;
                }
            }
            &.active {
                background-color: $color-primary;
                color: $color-text-on-dark;
                border: none;
                &:hover {
                    cursor: default;
                    transform: scale(1);
                    transition: all 0.3s ease-in;
                }
            }
        }
        .frequency {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            margin-bottom: 10px;
            height: 50px;
            border: 1px solid $color-border;
            border-radius: 20px;
            cursor: pointer;
            &.option {
                flex-basis: 100%;
                &:hover {
                    transform: scale(1.05);
                    transition: all 0.5s ease-in;
                }
            }
            &.tile {
                flex-basis: 30%;
            }
            &.active {
                background-color: $color-primary;
                color: $color-text-on-dark;
                border: none;
                &:hover {
                    cursor: default;
                    transform: scale(1);
                    transition: all 0.5s ease-in;
                }
            }
        }
        .classes {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            margin-bottom: 10px;
            height: 50px;
            border: 1px solid $color-border;
            border-radius: 20px;
            cursor: pointer;
            &.option {
                flex-basis: 100%;
                &:hover {
                    transform: scale(1.05);
                    transition: all 0.5s ease-in;
                }
            }
            &.tile {
                flex-basis: 30%;
                &:hover {
                    transform: scale(1.05);
                    transition: all 0.5s ease-in;
                }
            }
            &.active {
                background-color: $color-primary;
                color: $color-text-on-dark;
                border: none;
            }
        }
        .length {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            margin-bottom: 10px;
            height: 50px;
            border: 1px solid $color-border;
            border-radius: 20px;
            cursor: pointer;
            &.option {
                flex-basis: 100%;
            }
            &.tile {
                flex-basis: 30%;
            }
            &.active {
                background-color: $color-primary;
                color: $color-text-on-dark;
                border: none;
            }
        }
        .duration {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            margin-bottom: 10px;
            height: 50px;
            border: 1px solid $color-border;
            border-radius: 20px;
            cursor: pointer;
            &.option {
                flex-basis: 100%;
                &:hover {
                    transform: scale(1.05);
                    transition: all 0.5s ease-in;
                }
            }
            &.tile {
                flex-basis: 30%;
            }
            &.active {
                background-color: $color-primary;
                color: $color-text-on-dark;
                border: none;
                &:hover {
                    cursor: default;
                    transform: scale(1);
                    transition: all 0.5s ease-in;
                }
            }
        }
    }
}

div.parameters-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    &.center {
        justify-content: center;
    }
}

.gender-selection {
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 40px;
    width: 317px;
    max-width: 100%;
    height: 41px;
    position: relative;
    box-sizing: border-box;
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 41px;
}

.gender-item {
    flex-basis: 33%;
    z-index: 2;
    cursor: pointer;
    &.active {
        color: $color-text-on-dark;
        border-radius: 20px;
        background-color: $color-settings-active;
        &:hover {
            border-radius: 25px;
            background-color: #816ffe;
        }
    }
    &:hover {
        background-color: rgba(129, 111, 254, 0.3);
        border-radius: 25px;
        transition: all 0.3s ease-in;
    }
}

//Pop-up calender

.datepicker::placeholder {
    padding-left: 150px;
    color: $color-placeholder;
}

.calender::before {
    position: absolute;
    right: 5px;
    bottom: 12px;
    margin-right: 8px;
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-calendar-alt);
    color: $color-text-navbar;
}

.datepicker-date-display {
    background-color: $color-calender;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
    color: $color-calender;
}

input[type='text']:not(.browser-default) {
    width: 70%;
    border-bottom: none;
}

input[type='text']:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid $color-calender;
    box-shadow: 0 1px 0 0 $color-calender;
}

button:focus {
    background-color: $color-calender;
}

.dropdown-content li > a,
.dropdown-content li > span {
    color: $color-calender;
}

.option {
    flex-basis: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid $color-border;
    border-radius: 20px;
    margin-bottom: 20px;
}

.tile {
    flex-basis: 30%;
    height: 50px;
    line-height: 50px;
    border: 1px solid $color-border;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.columns {
    flex-basis: 47%;
    height: 50px;
    line-height: 50px;
    border: 1px solid $color-border;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.congratulations {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(-180deg, $color-background-linear-1 -8.99%, $color-background-linear-2 109.7%),
        url('../../assets/img/kick_start_bg.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto 100%;
    &-content {
        width: 400px;
        color: #fff;
        margin: 0 auto;
        padding: 80px 0 40px;
        text-align: center;
        height: 100%;
        position: relative;
    }
    &-title {
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
    }
}

.tip-accent {
    font-size: 20px;
    font-weight: 500;
}

.center-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.login {
    height: 100vh;
    width: 100%;
    background: url('../../assets/img/login-bg.jpg') no-repeat 50% fixed;
    background-size: cover;
    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 400px;
        max-height: 60%;
        color: #fff;
        margin: 0 auto;
        padding: 60px 0 40px;
        text-align: center;
        position: relative;
    }
}

.input-field > label {
    color: $color-text-on-dark;
}

input[type='email']:not(.browser-default),
input[type='password']:not(.browser-default),
input[type='text']:not(.browser-default) {
    width: 100%;
    border-bottom: 1px solid $color-text-on-dark;
}

.auth-link {
    display: block;
    width: 100%;
    align-self: flex-start;
    text-align: right;
    color: $color-text-on-dark;
    cursor: pointer;
    &:hover {
        color: $color-primary;
    }
}

@media (max-width: 500px) {
    .login-content,
    .congratulations-content {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .registration-title {
        font-size: 30px;
    }

    .registration-content > form {
        width: 300px;
    }

    .registration-content > div {
        width: 315px;
    }

    .registration-content > div.goal-options {
        width: 315px;
    }

    .registration-content > div .goal {
        flex-basis: 51%;
    }

    .datepicker::placeholder {
        padding-left: 100px;
    }
}
