.settings {
    &-wrapper {
        width: 400px;
        height: 100%;
        padding-top: 25px;
        margin: 0 auto;
    }
    &-title {
        display: block;
        text-align: center;
        margin: 0;
        color: $color-text-on-light;
        font-size: 18px;
    }
    &-block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 25px;
        width: 100%;
        text-align: left;
    }
    &-subtitle {
        display: block;
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
        color: $color-text-on-light;
        font-size: 25px;
    }
    &-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        position: relative;
        .icon-select::before {
            top: 15px;
        }
        &.wrapper {
            height: 100%;
        }
    }
    &-link {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
        color: $color-background-dark;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 500;
        .icon {
            width: 25px;
            margin-right: 20px;
            font-size: 25px;
        }
    }
}

p.settings-link {
    cursor: default;
}

.unit {
    &-selection {
        display: inline-flex;
        justify-content: space-around;
        box-sizing: border-box;
        height: 40px;
        width: 150px;
        border-radius: 30px;
        text-align: center;
        font-size: 14px;
        line-height: 40px;
        cursor: pointer;
    }
    &-item {
        flex-basis: 50%;
        &.active {
            color: $color-text-on-dark;
            border-radius: 25px;
            background-color: $color-settings-active;
            &:hover {
                border-radius: 25px;
                background-color: #816ffe;
            }
        }
        &:hover {
            background-color: rgba(129, 111, 254, 0.3);
            border-radius: 25px;
            transition: all 0.3s ease-in;
        }
    }
}

@media (max-width: 420px) {
    .settings {
        &-wrapper {
            width: 300px;
            padding-top: 20px;
        }
        &-block {
            margin-top: 30px;
        }
        &-subtitle {
            margin-bottom: 15px;
            font-size: 22px;
        }
    }
    .unit {
        &-selection {
            width: 115px;
        }
    }
}
