.promo {
    min-height: 580px;
    background-image: url('../../assets/img/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &-wrapper {
        max-width: 1440px;
        padding-top: 200px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.promo-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 54px;
    &-tablet {
        display: none;
    }
}

.subtitle {
    margin: 0;
    margin-bottom: 50px;
}

.results {
    min-height: 600px;
    &-wrapper {
        max-width: 1130px;
        padding-top: 50px;
    }
    &-title {
        text-align: center;
    }
    &-subtitle {
        margin: 0 auto;
        margin-bottom: 30px;
        width: 90%;
        text-align: center;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .row {
            flex-basis: 23%;
        }
        .row .col.m6 {
            width: 100%;
        }
    }
    .card {
        border-radius: 25px;
        min-height: 300px;
        text-align: center;
        .card-image img {
            height: 150px;
            border-radius: 25px;
            object-fit: cover;
        }
        .card-image .card-title {
            display: block;
            padding: 10px;
            padding-bottom: 0;
            position: static;
            font-family: 'Poppins', Helvetica, Arial, sans-serif;
            font-weight: 800;
            color: $off-black;
        }
        &-content {
            padding: 5px;
        }
    }
}

@media (max-width: 1366px) {
    .promo {
        min-height: 500px;
    }
}

@media (max-width: 1020px) {
    .results-wrapper {
        max-width: 600px;
    }
    
    .results-content .row {
        flex-basis: 47%;
    }
}

@media (max-width: 992px) {
    .title {
        font-size: 48px;
        width: 95%;
    }

    nav .sidenav-trigger {
        float: right;
        color: $color-text-navbar;
    }

    .promo-wrapper {
        padding-top: 100px;
    }
}

@media (max-width: 768px) {
    .results-wrapper {
        max-width: 500px;
    }
    
    .promo {
        min-height: 600px;
        background-position: 75%;
        padding: 0;
        .btn-container {
            display: flex;
            justify-content: center;
        }
        .btn-large {
            width: 320px;
        }
    }

    .title {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .subtitle {
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    .results-wrapper {
        max-width: 500px;
    }

    .results-content .row {
        flex-basis: 80%;
    }

    .results {
        .card > .card-image > .card-title {
            font-size: 20px;
        }
        .card-content {
            font-size: 14px;
        }
    }

    .title {
        display: none;
    }

    .title-tablet {
        display: block;
    }

    .promo-title-tablet {
        display: block;
    }

    .subtitle {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .promo {
        min-height: 500px;
    }
}
