.workout {
    &-header {
        display: flex;
        justify-content: center;
        position: relative;
        background: top / cover no-repeat url('../../assets/trainings/08.webp');
        &::before {
            content: '';
            height: 260px;
            width: 100%;
            position: absolute;
            bottom: 8px;
            left: 0;
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0.6) 30%,
                $color-background
            );
        }
        &::after {
            content: '';
            height: 10px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(270deg, #e03694, #f47253);
        }
    }
    &-container {
        margin: 0 auto;
        padding: 0 20px;
        width: 795px;
        min-height: 500px;
        max-width: 100%;
        position: relative;
        &-sm {
            min-height: 300px;
        }
    }
    &-info {
        position: absolute;
        left: 50%;
        bottom: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: calc(100% - 40px);
        transform: translateX(-50%);
    }
    &-title {
        font-size: 50px;
        font-weight: 800;
    }
    &-type {
        padding: 3px 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: $color-text-on-dark;
        border-radius: 50px;
    }
    &-details {
        background-color: $color-background;
    }
    &-details .workout-container:first-child {
        min-height: 75px;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: $color-bg-workout-controls;
    }
    &-controls {
        max-width: 100%;
        width: 755px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        .btn-large {
            height: 36px;
            line-height: 36px;
            min-width: 120px;
            border-radius: 9999px;
        }
    }
    &-fav {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-color: $color-bg-workout-controls;
        border: none;
        cursor: pointer;
        transition: 0.5s;
        .far {
            font-size: 26px;
        }
        &:focus {
            background-color: inherit;
        }
        &:hover {
            color: $color-primary;
        }
    }

    &-text {
        position: relative;
        margin: 0;
        padding: 30px 0;
        &::after {
            content: '';
            width: 100%;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.8);
        }

        &:last-of-type {
            &::after {
                display: none;
            }
        }
    }

    &-text-type {
        padding-right: 100px;
        display: inline-block;
        font-size: 22px;
        font-weight: 600;
    }
}

@media screen and (max-width: 590px) {
    .workout {
        &-title {
            font-size: 36px;
        }

        &-text-type {
            padding-right: 66px;
            font-size: 18px;
        }
    }
}


