html,
body,
#app {
    height: 100%;
}

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

header {
    min-height: 56px;
}

footer {
    min-height: 80px;
}

.hidden {
    display: none;
}

.wrapper {
    margin: 0 auto;
}

.title {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 800;
}

.subtitle {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

//Scroll for Chrome

*::-webkit-scrollbar {
    height: 4px;
    width: 0;
}

*::-webkit-scrollbar-track {
    background: $color-text-on-dark;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background-color: $color-primary;
}

.preloader {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.8) translateY(1000px) translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-up-main {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes line-grow {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes box-move {
    0% {
        transform: translateX(-300%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes box-move-right {
    0% {
        transform: translateX(300%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes box-move-down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes shadow-appear {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    #toast-container {
        left: 40%;
        bottom: 70%;
    }
}
@keyframes scale-up {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes imgShowUp {
  0% {
    transform: scale(0.1) translateY(50%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(0);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(1000px) translateX(-50%);
    opacity: 0;
  }
}

@keyframes smoothAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smoothDisappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
