html,
body,
#app {
    height: 100%;
}

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

header {
    min-height: 56px;
}

footer {
    min-height: 80px;
}

.hidden {
    display: none;
}

.wrapper {
    margin: 0 auto;
}

.title {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 800;
}

.subtitle {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

//Scroll for Chrome

*::-webkit-scrollbar {
    height: 6px;
    width: 0;
}

*::-webkit-scrollbar-track {
    background: $color-text-on-dark;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background-color: $color-primary;
}

.preloader {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
