.btn-large {
    background: linear-gradient(270deg, #e03694 -24.77%, #f47253 95.41%);
    border-radius: 10px;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 700;
    &.header-tablet {
        visibility: hidden;
    }
    :hover {
        color: $color-active-on-dark;
        opacity: 0.9;
    }
}

.sidenav .btn-large {
    margin-left: 100px;
}

.btn-completed {
    padding: 0 10px;
    background: linear-gradient(270deg, $color-background-linear-5 -24.77%, $color-background-linear-6 95.41%);
}

.btn-disabled {
    background: linear-gradient(270deg, $color-background-linear-7 -24.77%, $color-background-linear-8 95.41%);
    cursor: not-allowed;
}
.btn-large:disabled.btn-disabled,
.btn-large[disabled].btn-disabled {
    pointer-events: initial;
    cursor: not-allowed;
    color: $color-text-on-dark !important;
}

.back-btn {
    position: absolute;
    top: 50px;
    left: 5%;
    color: white;
}

.btn-wrapper {
    width: 100%;
    display: flex;
    margin-top: 10px;
    padding: 0 50px;
    justify-content: space-around;
    margin-bottom: 10px;
    &.settings {
        margin-top: 20px;
    }
    &.edit-plan {
        margin-top: 20px;
    }
}


.btn-back {
    padding: 10px;
    background-color: transparent;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
        color: $color-primary;
    }
    &:focus {
        background-color: transparent;
    }
    &:active {
        color: $color-background-linear-3;
    }
}

@media (max-width: 768px) {
    .btn-large.header-tablet {
        visibility: visible;
        float: right;
        margin-top: 12px;
        height: 40px;
        line-height: 40px;
    }
}

@media (max-width: 600px) {
    .btn-large.header-tablet {
        margin-top: 8px;
    }
}

@media (max-width: 420px) {
    .btn-wrapper.settings {
        margin-top: 15px;
    }
}
