input {
    color: $color-placeholder;
    cursor: pointer;
}

.input-group {
    @include flex;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid $color-border;
    cursor: default;
    &.hidden {
        display: none;
    }
    & .value {
        display: flex;
        justify-content: space-between;
        margin-right: 35px;
        width: 71px;
        color: $color-placeholder;
    }
    & > span.title {
        width: 130px;
        font-size: 16px;
        margin-bottom: 0;
        text-align: left;
        text-transform: capitalize;
        &.calender {
            width: 75px;
        }
    }
}

input[type='text'].datepicker {
    margin-bottom: 0;
    color: $color-text-navbar;
    text-align: right;
    width: 75%;
    height: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    &::placeholder {
        text-align: left;
        width: 100%;
    }
}

#nick-name,
#email,
#password {
    color: white;
}

.datepicker-table td.is-selected {
    background-color: $color-primary;
}

.value > input[data-type='parameter'] {
    height: 19px;
    width: 30px;
    margin: 0px;
    padding: 2px;
    text-align: center;
    border: none;
    background: transparent !important;
    &:focus {
        background: transparent;
        &::placeholder {
            opacity: 0;
        }
    }
}

.auth-field {
    width: 100%;
}

.select-block {
    margin-top: 10px;
    width: 100%;
    display: none;
    &.active {
        display: block;
    }
    & .options {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        text-align: center;
        & p {
            flex-basis: 40%;
            margin: 0;
            padding: 5px 0;
            font-size: 14px;
            font-weight: 500;
            color: $color-placeholder;
            cursor: pointer;
            &.active {
                color: $color-primary;
                border-bottom: 2px solid $color-primary;
            }
        }
    }
}

input[type='range'] {
    border: none;
    background: $color-border;
}

input[type='range'] + .thumb {
    background-color: $color-primary;
}

input[type='range'] + .thumb .value {
    color: $color-primary;
}

input[type='range']::-webkit-slider-thumb {
    background-color: $color-primary;
}

input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $color-primary;
    box-shadow: 0 1px 0 0 $color-primary;
}

input:not([type]):focus:not([readonly]) + label,
input[type='text']:not(.browser-default):focus:not([readonly]) + label,
input[type='password']:not(.browser-default):focus:not([readonly]) + label,
input[type='email']:not(.browser-default):focus:not([readonly]) + label,
input[type='url']:not(.browser-default):focus:not([readonly]) + label,
input[type='time']:not(.browser-default):focus:not([readonly]) + label,
input[type='date']:not(.browser-default):focus:not([readonly]) + label,
input[type='datetime']:not(.browser-default):focus:not([readonly]) + label,
input[type='datetime-local']:not(.browser-default):focus:not([readonly]) + label,
input[type='tel']:not(.browser-default):focus:not([readonly]) + label,
input[type='number']:not(.browser-default):focus:not([readonly]) + label,
input[type='search']:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: $color-primary;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 5px;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type='text']:not(.browser-default).invalid,
input[type='email']:not(.browser-default).invalid,
input[type='password']:not(.browser-default).invalid {
    color: $color-invalid;
}

@media (max-width: 400px) {
    .select-block .options p {
        flex-basis: 45%;
    }
}
