.fiton-modal {
  &-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-modal;
    z-index: 1000;
  }
  &-card {
    min-height: 50%;
    width: 500px;
    position: absolute;
    top: 43%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    background-color: $color-text-on-dark;
    box-shadow: 5px 5px 5px $color-text-on-light;
  }
  &-content {
    min-height: 400px;
  }
  &-title {
    margin: 10px 0 40px;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
  }
} 

@media (max-width: 720px) {
  .fiton-modal {
    &-card {
      width: 300px;
    }
    &-title {
      font-size: 17px;
    }
  }
}