$color-text-navbar: #666;
$color-primary: #ff8a80;

$color-background: white;
$color-background-dark: #666;
$color-background-dark-blue: #191344;

$color-active-on-light: #fc6f00;
$color-active-on-dark: white;

$color-text-on-dark: white;

$color-border: #e9e9e9;
$color-settings-active: rgb(129, 111, 254);
$color-calender: #ff8a80;
$color-placeholder: rgb(180, 180, 180);

$color-background-linear-1: rgba(255, 100, 162, 0.667);
$color-background-linear-2: rgba(255, 134, 102, 0.8);