$color-text-navbar: #666;
$color-primary: #ff8a80;

$color-background: white;
$color-background-dark: #666;
$color-background-light: rgba(144, 150, 159, 0.1);
$color-background-dark-blue: #191344;

$color-active-on-light: #fc6f00;
$color-active-on-dark: white;

$color-text-on-dark: white;

$color-border: #c2bebe;
$color-settings-active: rgb(129, 111, 254);
$color-calender: #ff8a80;
$color-placeholder: rgb(180, 180, 180);

$color-background-linear-1: rgba(255, 100, 162, 0.667);
$color-background-linear-2: rgba(255, 134, 102, 0.8);
$color-background-linear-3: #e03694;
$color-background-linear-4: #f47253;
$color-background-linear-5: #3680e0;
$color-background-linear-6: #53e9f4;

$color-subscribers: #62ccf9;

$color-invalid: #f44336;

$color-title: #0d111f;
$color-meal: #ff8666;
$color-subtitle: #191348;
$color-subtitle-meal: #9c9eb9;
$color-bg-workout-controls: #f3f3f3;
